* {
    margin: 0;
    padding: 0;
}

/*----------------------------------------首页-----------------------------------------*/
#showPic {
    position: relative;
}


/*首页图*/
#choseImg {
    width: 100%;
    height: 16rem;
}


/*-------导航栏-------*/
/*导航栏横幅*/
.layui-nav {
    height: 11%;
    width: 100%;
    position: absolute;
    background-color: #151515;
    opacity: 0.8;
    display: flex;
    align-items: center;
}

.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    background-color: #A9D0F5;
}



/*导航栏内的字*/
    .layui-nav-item a {
        font-family: sans-serif;
        font-size: 13px;
    }


/*导航栏标签间距*/
.firstnavItem{
    margin-left: 5.3rem;
}

.secondnavItem{
    margin-left: 0.5rem;
}


/*-------banner1图-------*/

/*公司banner*/
.remove {
    height: 0.8rem;
    width: 5rem;
    z-index: 2;
    margin-left: 0.5rem;
}

/*-------联系电话图-------*/

/*联系电话图片*/
.telPng {
    height: 1rem;
    width: 1rem;
    position: absolute;
    z-index: 2;
    top: 0.38rem;
    margin-left: 27.9rem;
}

/*联系电话字体1*/
.telFont {
    position: absolute;
    font-size: 12px;
    color: rgba(255, 255, 255, .7);
    top: 0.5rem;
    margin-left: 29.1rem;
}

/*联系电话字体2*/
.telFont1 {
    position: absolute;
    font-size: 15px;
    color: rgba(255, 255, 255, .7);
    top: 1rem;
    margin-left: 29.1rem;

}

/*---------信息化解决方案提供商图-------*/
/*布局*/
.information {
    display: flex;
    justify-content: center;
}

.informationPage {
    width: 6.5rem;
    height: 4rem;
    position: absolute;
    top: 3.8rem;
    margin-left: 13rem;
}

/*--------鼠标图--------*/
.EXPLORER {
    position: absolute;
    color: white;
    top: 13.5rem;
    margin-left: 15.6rem;
}

#mouseImg {
    height: 0.8rem;
    width: 0.5rem;
    position: absolute;
    z-index: 11;
    top: 14.25rem;
    margin-left: 16rem;
}

/*----------------------------------------解决方案-----------------------------------------*/

/*背景*/
.solution {
    width: 100%;
    height: 15.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*标题1*/
.solutionTitle1 {
    font-family: sans-serif;
    color: #2B477F;
    font-size: 35px;
    margin-top: 1.25rem;
}

/*标题2*/
.solutionTitle2 {
    font-family: sans-serif;
    color: #A5A9B1;
    font-size: 16px;
    margin-top: 0.3rem;
}

/*图片布局*/
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}

/*图片大小*/
.solutionPng {
    width: 6rem;
    height: 8rem;
    margin-left: 0.5rem;
}

/*分页按钮*/
.page {
    margin-top: 1rem;
}

/*-----------------------关于我们------------------------*/

/*背景图*/
.sysConfig {
    width: 100%;
    height: 15.5rem;
    background-image: url("../img/page2_bg.png");
    background-repeat: no-repeat;
}

/*左对齐文本框布局*/
.sysConfigs {
    width: 14rem;
    height: 11rem;
    margin: 2rem 4rem;
    position: absolute;
}

.sysConfigs .font1{
    color: #2B477F;
    font-size: 40px
}

.sysConfigs .font2{
    color: rgb(102, 102, 102);
    font-size: 20px
}

/*第一行布局 文本内容*/
.sysFlew1 {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
}

.sysFlew1 .font1{
    font-size: 16px;
    color: #8c8c8c;
    line-height: 0.75rem;
}

/*第二行布局 6+..*/
.sysFlew2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0rem 0rem 1.15rem;
    height: 0;
}

.sysFlew2 .font1{
    color: #2B477F;
    font-size: 40px;
    position: relative;
}

/*8+字体*/
.sysFlew2 .font2 {
    color: #2B477F;
    font-size: 40px;
    left: 0.5rem;
    position: relative;
}

/*100+字体*/
.sysFlew2 .font3 {
    color: #2B477F;
    font-size: 40px;
    left: 0.8rem;
    position: relative;
}

/*100w+字体*/
.sysFlew2 .font4 {
    color: #2B477F;
    font-size: 40px;
    left: 0.58rem;
    position: relative;
}


/*第三行布局 行业经验..*/
.sysFlew3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0rem 0rem 0.75rem;
    height: 1.5rem;
}


/*行业经验这行字体*/
.sysFlew3Font {
    color: rgb(102, 102, 102);
    font-size: 20px
}

.sysFlew4{
    margin-left: 20rem;
    padding-top: 2.5rem
}

.sysFlew4 .img1{
    position: absolute;
    width: 10rem;
    height: 6.8rem;
}

.sysFlew5{
    width: 23rem;
    height: 2.4rem;
    margin: 9.5rem 0 0 5rem;
    position: absolute;
    background-color: white;
}

.sysFlew5 .sysFlew5-1{
    width: 50%;
    height: 40%;
    margin: 0.6rem 0 0 38%;
    position: absolute
}


.sysFlew5 .sysFlew5-1 .sysFlew5-1p{
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 2;
}

.sysFlew5 .sysFlew5-2{
    width: 2.2rem;
    height: 1.2rem;
    margin: 0.6rem 0 0 1rem;
}


.sysFlew5 .sysFlew5-2 .sysFlew5-2p1{
    color: #000000;
    font-size: 25px;
    text-align: center
}


.sysFlew5 .sysFlew5-2 .sysFlew5-2p2{
    color: rgb(102, 102, 102);
    font-size: 15px;
    text-align: center;
}


/*-------------产品服务----------*/
.service {
    height: 15.5rem;
    background-color: #498BFC;
    width: 100%;
    position: relative;
    /*background-image: url("../src/img/page2_bg.png");*/
}

/*标题2*/
.serviceTitle1 {
    color: white;
    font-size: 30px;
    margin-top: 1.5rem;
}

/*标题2*/
.serviceTitle2 {
    color: white;
    font-size: 15px;
    margin-top: 0.75rem;
}

.serviceFlew1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10.5%;
}

/*----------新闻中心----------*/
.article {
    width: 100%;
    height: 15.5rem;
    background-color: #F7F7F7;
}

.articleTitle1 {
    color: darkblue;
    font-size: 35px;
    margin-top: 1.25rem;
    position: absolute;
}

.articleFlex1 {
    display: flex;
    align-items: center;
    width: 50%;
    height: 15rem;
    position: absolute;
}

.articleFlex2 {
    display: flex;
    align-items: center;
    width: 50%;
    height: 15rem;
    margin-left: 50%;
    position: absolute;
}


.report {
    height: 15.5rem;
    width: 100%;
    position: relative;
}

.moreButton{
    width: 2.3rem;
    height:0.6rem;
    position: relative;
    border-radius: 20px;
    background-color: white;
    border: 0.02rem #A4A4A4 solid;
}

/*----客户对象------*/
.customer {
    height: 11rem;
    width: 100%;
}


/*客户标题布局*/
.customerTitleFlex {
    position: absolute;
    width: 100%;
    height: 25%;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center
}

/*客户标题*/
.customerTitle {
    font-size: 35px;
    color: darkblue;
}

/*客户整体图片布局*/

.customerdiv {
    display: flex;
    position: absolute;
    width: 20%;
    height: 30%;
}

/*客户单个图片布局*/
.customerImg {
    width: 100%;
    height: 2rem;
    position: absolute;
}

/*客户单个客户名布局*/
.customerFont {
    color: #848484;
    z-index: 10;
    top: 1.35rem;
    width: 100%;
    text-align: center;
    letter-spacing: 0.04rem;
    position: absolute;
}


/*-----底部导航----*/
.font {
    height: 5.8rem;
    width: 100%;
    background-color: #F2F2F2;
}
/* grid容器属性 */
.container {
    width: 50%;
    margin-left: 4rem;
    padding: 0.6rem 0 0 0;
    position: absolute;
}

.container1{
    display: flex;
    flex-direction: row;
    margin-top: 0.6rem
}
.topFont {
    color: #424242;
    font-size: 16px;
}

.bottomFont {
    color: #424242;
    font-size: 12px;
}


/* grid容器项目 */
.container .item {
    position: absolute;
}

.messageFlew {
    background-color: #2C467F;
    width: 12.5%;
    height: 98%;
    margin-left: 80%;
    padding-left: 1%;
}

.messageText1{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 0.4rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 1.2rem;
}

.messageText2{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 0.4rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 1.9rem;
}

.messageText3{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 0.4rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 2.6rem;
}

.messageText4{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 1.3rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 3.3rem;
}
.messageButton{
    position: absolute;
    width: 2rem;
    height: 0.65rem;
    border-radius: 6px;
    border: 0;
    background-color: #F9A010;
    color: white;
    margin-top: 4.8rem;
    font-size: 0.2rem;
}

.tips{
    position: absolute;
    color: red;
    margin-left: 81%;
    margin-top:0.10rem;
    font-size: 15px
}

.floatButton{
    position: absolute;
    margin-left: 91.5%;
    margin-top:0.10rem;
}


/*字体无法选中*/
.noSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*轮播图背景*/
.layui-carousel > [carousel-item] > .layui-this {
    background-color: white;
}



::-webkit-input-placeholder { /* WebKit browsers */
    text-align: start;
    color:    #848484;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #848484;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #848484;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #848484;
}

/* 返回顶部 开始 */
#back-top {
    position: fixed; /*相对于浏览器窗口进行绝对定位*/
    bottom: 10px;
    right: 15px;
    z-index: 99;
}

#back-top span {
    width: 0.8rem;
    height: 0.8rem;
    display: block; /*将元素显示为块级元素*/
}

#back-top a {
    outline: none; /*突出元素*/
}
/* 返回顶部 结束 */

.cursor{
    cursor: pointer;
}
