* {
    margin: 0;
    padding: 0;
}


.body{
    font-size: 8px;
}

/*----------------------------------------首页-----------------------------------------*/
#showPic {
    position: relative;
}


/*首页图*/
#choseImg {
    width: 100%;
    height: 50rem;
}


/*-------导航栏-------*/
/*导航栏横幅*/
.layui-nav {
    height: 12%;
    width: 100%;
    position: absolute;
    background-color: #151515;
    opacity: 0.8;
    display: flex;
    align-items: center;
    padding: 0 0 0 0;
}

.firstnavItem{
    /*position: absolute;*/
}

    /*导航栏内的字*/
/*移动端*/
    .layui-nav-item a {

    }

/*-------banner1图-------*/

/*公司banner*/
.remove {
    height: 0.5rem;
    width: 4rem;
    z-index: 2;
    /*margin-left: 0.5rem;*/
}

/*-------联系电话图-------*/

/*联系电话图片*/
.telPng {
    height: 1rem;
    width: 1rem;
    position: absolute;
    z-index: 2;
    /*margin-left: 5.9rem;*/
    /*bottom: 0.38rem;*/
    top: 0.38rem;
    margin-left: 27.9rem;
}

/*联系电话字体1*/
.telFont {
    position: absolute;
    font-size: 12px;
    color: rgba(255, 255, 255, .7);
    /*margin-left: 7rem;*/
    top: 0.6rem;
    margin-left: 29rem;
}

/*联系电话字体2*/
.telFont1 {
    position: absolute;
    font-size: 15px;
    color: rgba(255, 255, 255, .7);
    /*margin-left: 7rem;*/
    top: 1rem;
    margin-left: 29rem;

}

/*---------信息化解决方案提供商图-------*/
/*布局*/
.information {
    display: flex;
    justify-content: center;
}

.informationPage {
    width: 15rem;
    height: 10rem;
    position: absolute;
    top: 15rem;
    margin-left: 9rem;
}

/*--------鼠标图--------*/
.EXPLORER {
    position: absolute;
    color: white;
    top: 40rem;
    margin-left: 13.4rem;
    font-size: 12px;
    transform: scale(0.6);
}

#mouseImg {
    height: 2rem;
    width: 3rem;
    position: absolute;
    z-index: 11;
    top: 43rem;
    margin-left: 14.8rem;
}

/*----------------------------------------解决方案-----------------------------------------*/

/*背景*/
.solution {
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*标题1*/
.solutionTitle1 {
    color: #0431B4;
    font-size: 2rem;
    margin-top: 1rem;
    /*transform: scale(0.6);*/
}

/*标题2*/
.solutionTitle2 {
    color: #A4A4A4;
    font-size: 1rem;
    /*margin-left: 46%;*/

}

/*图片布局*/
.flex {
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
}

/*图片大小*/
.solutionPng {
    width: 10rem;
    height: 12rem;
}

/*分页按钮*/
.page {
    /*margin-left: 40%;*/
    /*margin-top: 650px;*/
    /*width: 2rem;*/
    /*height: 3rem;*/
    width: 14rem;
    margin-top: 1rem;

}

/*-----------------------关于我们------------------------*/

/*背景图*/
.sysConfig {
    width: 100%;
    height: 50rem;
    background-image: url("../img/page2_bg.png");
    background-repeat: no-repeat;
}

/*左对齐文本框布局*/
.sysConfigs {
    width: 14rem;
    height: 11rem;
    margin: 2rem 4rem;
    position: absolute;
}

/*第一行布局 文本内容*/
.sysFlew1 {
    display: flex;
    justify-content: center;
    margin: 8rem 0;
    width: 96%;
}

/*第二行布局 6+..*/
.sysFlew2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 39rem 0rem 0rem 5rem;
    height: 0;
}

/*第三行布局 行业经验..*/
.sysFlew3 {
    display: flex;
    margin: 40rem 0 0 4.1rem;
    height: 1.5rem;
}

/*8+字体*/
.sysFlew2Font1 {
    color: #2e2eb8;
    font-size: 2rem;
    margin-left: 3rem;
}

/*100+字体*/
.sysFlew2Font2 {
    color: #2e2eb8;
    font-size: 2rem;
    margin-left: 3rem;
}

/*100w+字体*/
.sysFlew2Font3 {
    color: #2e2eb8;
    font-size: 2rem;
    margin-left: 3rem;
}


/*行业经验这行字体*/
.sysFlew3Font {
    color: rgb(102, 102, 102);
    font-size: 1rem;
}


.sysFlew4 {
    display: flex;
    justify-content: center;
    bottom: 2rem;
    height: 0;
    position: relative;
}

.CompanyVision {
    width: 22.5rem;
    height: 3rem;
    background-color: white;
    position: absolute;
    margin: 11.5rem 0 0 2.5rem;
}

/*-------------产品服务----------*/
.service {
    height: 30.8rem;
    background-color: #498BFC;
    width: 100%;
    /*background-image: url("../src/img/page2_bg.png");*/
}

/*标题2*/
.serviceTitle1 {
    color: white;
    font-size: 2rem;
    margin-top: 1.5rem;
}

/*标题2*/
.serviceTitle2 {
    color: white;
    font-size: 0.5rem;
}

.serviceFlew1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 13.3rem;
    transform: scale(1.3);
}

/*.serviceImgleft{*/
/*!*margin-left: 1rem;*!*/
/*}*/

/*----------新闻中心----------*/
.article {
    width: 100%;
    height: 25rem;
    background-color: #F7F7F7;
}

.articleTitle1 {
    color: darkblue;
    font-size: 2rem;
    margin-top: 1.25rem;
    position: absolute;
}

.articleFlex1 {
    display: flex;
    align-items: center;
    width: 50%;
    height: 15rem;
    position: absolute;
}

.articleFlex2 {
    display: flex;
    align-items: center;
    width: 50%;
    height: 15rem;
    margin-left: 50%;
    position: absolute;
}


.report {
    height: 30rem;
    width: 100%;
    position: relative;
}

.moreButton{
    width: 4rem;
    height:1.3rem;
    position: relative;
    border-radius: 20px;
    background-color: white;
    border: 0.02rem #A4A4A4 solid;
}

/*----客户对象------*/
.customer {
    height: 25rem;
    width: 100%;
}


/*客户标题布局*/
.customerTitleFlex {
    position: absolute;
    width: 100%;
    z-index: 12;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

/*客户标题*/
.customerTitle {
    font-size: 2rem;
    color: darkblue;
}

/*客户整体图片布局*/
.customerGird {
    display: grid;
    display: -ms-grid;
    -ms-grid-columns: 21% 21% 21% 21%;
    grid-template-columns:repeat(4, 18%);
    -ms-grid-rows: 50% 50%;
    grid-template-rows: 40% 50%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    margin-top: 0.8rem;
}


.customerdiv {
    position: relative;
}

/*客户单个图片布局*/
.customerImg {
    width: 2.5rem;
    height: 2rem;
}

/*客户单个客户名布局*/
.customerFont {
    color: #848484;
    z-index: 10;
    top: 1.35rem;
    width: 100%;
    text-align: center;
    letter-spacing: 0.04rem;
    position: absolute;
    font-size: 0.3rem;
}


/*-----底部导航----*/
.font {
    height: 7rem;
    width: 100%;
    background-color: #F2F2F2;
}

/* grid容器属性 */
.containers {
    height: 2.5rem;
    /* 转换为grid网格容器 */
    width: 50%;
    display: grid;
    display: -ms-grid;
    /* 设置3行4列布局 */
    -ms-grid-rows: 1rem 0.6rem 0.6rem 0.6rem 0.6rem 0.6rem 0.6rem;
    grid-template-rows: 1rem 0.6rem 0.6rem 0.6rem 0.6rem 0.6rem 0.6rem;
    -ms-grid-columns: 0.25fr 0.25fr 0.5fr;
    grid-template-columns: 0.3fr 0.3fr 0.5fr;
    /*margin-left: 10rem;*/
    padding: 1rem 0 0 0;
    position: absolute;
    margin-left: 5rem;
}


.topFont {
    color: #424242;
    font-size: 0.3rem;
}

.bottomFont {
    color: #424242;
    font-size: 0.3rem;
}


/* grid容器项目 */
.container .item {
    padding: 0.3em 0;
    margin: 0.6em 0;
}

/* grid容器属性 */
.messageGrid {
    background-color: #2C467F;
    width: 12.5%;
    height: 87.9%;
    margin-bottom: 1rem;
    /* 转换为grid网格容器 */
    display: grid;
    display: -ms-grid;
    /*-ms-grid-rows: 0.7rem 0.6rem 0.6rem 0.6rem 1.5rem 0.8rem;*/
    grid-template-rows: 0.8rem 0.8rem ;
    -ms-grid-columns: 1fr;
    grid-template-columns: 0.25fr;
    margin-left: 80%;
    padding-top: 0.7rem;
    padding-left: 1%;
}


/* grid容器属性 */
.messageFlew {
    background-color: #2C467F;
    width: 12.5%;
    height: 7rem;
    margin-left: 80%;
    /*padding-top: 0.7rem;*/
    padding-left: 1%;
    position: absolute;
}

/*.messageFlew .item{*/
/*    border: 0.1rem cornflowerblue solid;*/
/*    height: 0.3rem;*/
/*}*/

.messageGrid .item{
    border: 0.1rem cornflowerblue solid;
    height: 3rem;
}

.messageText1{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 0.4rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 1.3rem;
}

.messageText2{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 0.4rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 2.3rem;
}

.messageText3{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 0.4rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 3.3rem;
}

.messageText4{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 1rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 4.3rem;
}
.messageButton{
    position: absolute;
    width: 2rem;
    height: 0.65rem;
    border-radius: 6px;
    border: 0;
    background-color: #F9A010;
    color: white;
    margin-top: 5.6rem;
    margin-left: 0.2rem;
    font-size: 0.2rem;
}

.tips{
    position: absolute;
    color: red;
    margin-left: 81%;
    margin-top:0.20rem;
    font-size: 0.2rem;
}

.floatButton{
    position: absolute;
    margin-left: 91.5%;
    margin-top:0.10rem;
}


/*字体无法选中*/
.noSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*轮播图背景*/
.layui-carousel > [carousel-item] > .layui-this {
    background-color: white;
}



::-webkit-input-placeholder { /* WebKit browsers */
    text-align: start;
    color:    #848484;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #848484;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #848484;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #848484;
}

/* 返回顶部 开始 */
#back-top {
    position: fixed; /*相对于浏览器窗口进行绝对定位*/
    bottom: 10px;
    right: 15px;
    z-index: 99;
}

#back-top span {
    width: 0.8rem;
    height: 0.8rem;
    display: block; /*将元素显示为块级元素*/
}

#back-top a {
    outline: none; /*突出元素*/
}
/* 返回顶部 结束 */

.cursor{
    cursor: pointer;
}
