/*-------第一行整体布局----*/
.banner1 {
    height: 4rem;
    width: 100%;
}

/*-------第一行flex布局----*/
.flex1 {
    width: 98.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*第一行1布局*/
.banner1Png {
    height: 3rem;
    width: 20rem;
    margin-left: 1.5rem
}

/*第一行2布局*/
.flex1-2 {
    width: 12rem;
    height: 4rem;
    padding-top: 1rem;
}

/*第一行2布局 客户电话*/
.flex1-2 .telFont {
    font-family: sans-serif;
    font-size: 80%;
}

/*第一行2布局 电话*/
.flex1-2 .tel {
    margin-top: 0.4rem;
    font-size: 110%;
    font-weight: 600;
}


/*第二行整体布局*/
.banner2 {
    width: 100%;
    height: 12rem;
    background-image: url("../img/articleBanner.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*第二行flex布局*/
.flex2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*字体样式1*/
.banner2 .banner2Font1 {
    font-family: sans-serif;
    font-size: 200%;
    letter-spacing: 0.1rem;
    color: white;

}

/*字体样式2*/
.banner2 .banner2Font2 {
    font-family: sans-serif;
    font-size: 130%;
    color: white;
}



/*------主体部分-----*/

.articleBody{
    height: 72rem;
    width: 100%;
    background-color: #FAFAFA;
}

.articleGrid{
    /*display: grid;*/
    /*display: -ms-grid;*/
    /*-ms-grid-columns: 3.4rem 65rem 10rem;*/
    /*grid-template-columns: 3.4rem 65rem 10rem;*/
    /*-ms-grid-rows: 50% 50%;*/
    /*grid-template-rows: 50% 50%;*/
    width: 60%;
    height: 4rem;
    border-bottom: 0.05rem #A4A4A4 solid;
    padding-top: 2rem;
}

.page{
    position: absolute;
    top:84rem;
    margin-left: 20rem;
}
/*-----底部导航----*/
.font {
    height: 20rem;
    width: 100%;
    background-color: #F2F2F2;
}


/* grid容器属性 */
.container {
    width: 50%;
    height: 2.5rem;
    /* 转换为grid网格容器 */
    display: grid;
    display: -ms-grid;
    /* 设置3行4列布局 */
    -ms-grid-rows: 3rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem;
    grid-template-rows: 3rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem 1.5rem;
    -ms-grid-columns: 12rem 12rem 12rem;
    grid-template-columns: 12rem 12rem 12rem;
    margin-left: 4rem;
    padding: 2rem 0 0 0;
    position: absolute;
}


.topFont {
    color: #424242;
    font-size: 16px;
}

.bottomFont {
    color: #424242;
    font-size: 12px;
}


/* grid容器项目 */
.container .item {
    padding: 0.3em 0;
    margin: 0.6em 0;
}

/* grid容器属性 */
.messageGrid {
    background-color: #2C467F;
    width: 12.1rem;
    height: 89.8%;
    margin-bottom: 1rem;
    /* 转换为grid网格容器 */
    display: grid;
    display: -ms-grid;
    /* 设置3行4列布局 */
    -ms-grid-rows: 3rem 2.3rem 2.3rem 2.3rem 4.5rem 3rem;
    grid-template-rows: 3rem 2.3rem 2.3rem 2.3rem 4.5rem 3rem;
    -ms-grid-columns: 0.25fr;
    grid-template-columns: 0.25fr;
    margin-left: 48rem;
    padding-top: 2rem;
    padding-left: 1%;
}

.messageGrid .item {
    width: 12rem;
}

.messageText {
    border-radius: 6px;
    border: 0;
    height: 1.5rem;
    width: 12rem;
}

.messageButton {
    width: 6rem;
    height: 2rem;
    border-radius: 6px;
    border: 0;
    background-color: #F9A010;
    color: white;
}

.tips {
    position: absolute;
    color: red;
    margin-left: 81%;
    margin-top: 0.20rem;
    font-size: 15px
}

.floatButton {
    position: absolute;
    margin-left: 91.5%;
    margin-top: 0.10rem;
}

/*字体无法选中*/
.noSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    text-align: start;
    color:    #848484;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #848484;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #848484;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #848484;
}


.cursor{
    cursor: pointer;
}

/**查看详情*/
.detailGrid{
    height: 100%;
    display: grid;
    display: -ms-grid;
    -ms-grid-rows: 5rem 52rem 3rem 3rem;
    grid-template-rows: 5rem 52rem 3rem 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    position: relative;
    margin-top: 8rem;
}
