
/*-------第一行整体布局----*/
.banner1 {
    height: 4rem;
    width: 100%;
}

/*-------第一行flex布局----*/
.flex1 {
    width: 98.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*第一行1布局*/
.banner1Png {
    height: 2rem;
    width: 10rem;
    margin-left: 1.5rem
}

/*第一行2布局*/
.flex1-2 {
    width: 6.5rem;
    height: 2rem;
    padding-top: 0.2rem;
}

/*第一行2布局 客户电话*/
.flex1-2 .telFont {
    font-family: sans-serif;
    font-size: 80%;
}

/*第一行2布局 电话*/
.flex1-2 .tel {
    margin-top: 0.15rem;
    font-size: 110%;
    font-weight: 600;
}


/*第二行整体布局*/
.banner2 {
    width: 100%;
    height: 8rem;
    background-image: url("../img/solutionBanner2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*第二行flex布局*/
.flex2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*字体样式1*/
.banner2 .banner2Font1 {
    font-family: sans-serif;
    font-size: 200%;
    letter-spacing: 0.1rem;
    color: white;

}

/*字体样式2*/
.banner2 .banner2Font2 {
    font-family: sans-serif;
    font-size: 130%;
    color: white;
}


/*------主体部分-----*/

.solutionBody {
    height: 25rem;
    width: 100%;
    background-color: #FAFAFA;
}

.grid1 {
    height: 100%;
    display: grid;
    display: -ms-grid;
    /*行间距*/
    -ms-grid-rows: 20rem 36rem;
    grid-template-rows: 12rem 36rem;
    /*列间距*/
    -ms-grid-columns: 21rem 15rem;
    grid-template-columns:9rem 15rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.solutionBody .item1 {
    height: 10.2rem;
    width: 8rem;
    background-color: #FFFFFF;
    -ms-grid-column: 1;
}

.item1-1 {
    /*border: red solid;*/
    border-top: 1px dashed #BDBDBD;
    height: 1.5rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.item1-1:hover {
    background-color: #D8D8D8;
}

.item1-first {
    /*border:  red solid;*/
    height: 2rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    background-image: url("../img/7894555.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



.solutionBody .item2 {
    height: 20rem;
    width: 21rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-grid-column: 2;
}


.solutionBody .item2 .item2-1 {
    height: 95%;
    width: 90%;
}

.solutionBody .item3 {
    background-color: #FFFFFF;
    height: 6rem;
    width: 8rem;
    display: flex;
    align-items: center;
    -ms-grid-row: 2;
}

.solutionBody .item3 .item3grid {
    display: grid;
    display: -ms-grid;
    -ms-grid-rows: 4rem 4rem;
    grid-template-rows: 1.8rem 1.8rem;
    -ms-grid-columns: 2.8rem 5fr;
    grid-template-columns: 1.5rem 5fr;
    padding-left: 1rem;
    padding-top: 0.2rem;
}

.item3-1 {
    display: flex;
    align-items: center;
    height: 1rem;
    width: 1.5rem;
    color: #6E6E6E;
    font-size: 0.3rem;
    letter-spacing: 0.01rem;
    /*padding-top: 0.2rem;*/
}


.item3-2 {
    display: flex;
    align-items: center;
    line-height: 0.5rem;
    height: 1.2rem;
    width: 3.5rem;
    color: #6E6E6E;
    font-size: 0.3rem;
    letter-spacing: 0.01rem;
    /*padding-top: 0.2rem;*/
}

.page {
    position: absolute;
    top: 34rem;
    left: 13rem;
}

/*-----底部导航----*/
.font {
    height: 7rem;
    width: 100%;
    background-color: #F2F2F2;
}


/* grid容器属性 */
.container {
    width: 50%;
    height: 2.5rem;
    /* 转换为grid网格容器 */
    display: grid;
    display: -ms-grid;
    /* 设置3行4列布局 */
    -ms-grid-rows: 1rem 0.6rem 0.6rem 0.6rem 0.6rem 0.6rem 0.6rem;
    grid-template-rows: 1rem 0.6rem 0.6rem 0.6rem 0.6rem 0.6rem 0.6rem;
    -ms-grid-columns: 0.25fr 0.25fr 0.5fr;
    grid-template-columns: 0.25fr 0.25fr 0.5fr;
    margin-left: 1rem;
    padding: 0.6rem 0 0 0;
    position: absolute;
}


.topFont {
    color: #424242;
    font-size: 0.3rem;
}

.bottomFont {
    color: #424242;
    font-size: 0.3rem;
}


/* grid容器项目 */
.container .item {
    padding: 0.3em 0;
    margin: 0.6em 0;
}

/* grid容器属性 */
.messageGrid {
    background-color: #2C467F;
    width: 12.5%;
    height: 87.9%;
    margin-bottom: 1rem;
    /* 转换为grid网格容器 */
    display: grid;
    display: -ms-grid;
    /*-ms-grid-rows: 0.7rem 0.6rem 0.6rem 0.6rem 1.5rem 0.8rem;*/
    grid-template-rows: 0.8rem 0.8rem ;
    -ms-grid-columns: 1fr;
    grid-template-columns: 0.25fr;
    margin-left: 80%;
    padding-top: 0.7rem;
    padding-left: 1%;
}


/* grid容器属性 */
.messageFlew {
    background-color: #2C467F;
    width: 12.5%;
    height: 98%;
    margin-left: 80%;
    /*padding-top: 0.7rem;*/
    padding-left: 1%;
}

/*.messageFlew .item{*/
/*    border: 0.1rem cornflowerblue solid;*/
/*    height: 0.3rem;*/
/*}*/

.messageGrid .item{
    border: 0.1rem cornflowerblue solid;
    height: 3rem;
}

.messageText1{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 0.4rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 1.3rem;
}

.messageText2{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 0.4rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 2.3rem;
}

.messageText3{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 0.4rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 3.3rem;
}

.messageText4{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 1rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 4.3rem;
}
.messageButton{
    position: absolute;
    width: 2rem;
    height: 0.65rem;
    border-radius: 6px;
    border: 0;
    background-color: #F9A010;
    color: white;
    margin-top: 5.6rem;
    margin-left: 0.2rem;
    font-size: 0.2rem;
}

.tips{
    position: absolute;
    color: red;
    margin-left: 81%;
    margin-top:0.20rem;
    font-size: 0.2rem;
}

.floatButton{
    position: absolute;
    margin-left: 91.5%;
    margin-top:0.10rem;
}


/*字体无法选中*/
.noSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    text-align: start;
    color: #848484;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #848484;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #848484;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #848484;
}


.cursor {
    cursor: pointer;
}
