/*-------第一行整体布局----*/
.banner1 {
    height: 1.2rem;
    width: 100%;
}

/*-------第一行flex布局----*/
.flex1 {
    width: 98.5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*第一行1布局*/
.banner1Png {
    height: 0.8rem;
    width: 5rem;
    margin-left: 0.5rem;
}

/*第一行2布局*/
.flex1-2 {
    width: 3.5rem;
    height: 1.2rem;
    padding-top: 0.3rem;
}

/*第一行2布局 客户电话*/
.flex1-2 .telFont {
    font-family: sans-serif;
    font-size: 80%;
}

/*第一行2布局 电话*/
.flex1-2 .tel {
    margin-top: 0.05rem;
    font-size: 110%;
    font-weight: 600;
}


/*第二行整体布局*/
.banner2 {
    width: 100%;
    height: 3.2rem;
    background-image: url("../img/solutionBanner2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*第二行flex布局*/
.flex2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*字体样式1*/
.banner2 .banner2Font1 {
    font-family: sans-serif;
    font-size: 200%;
    letter-spacing: 0.1rem;
    color: white;

}

/*字体样式2*/
.banner2 .banner2Font2 {
    font-family: sans-serif;
    font-size: 130%;
    color: white;
}


/*------主体部分-----*/

.solutionBody {
    height: 17rem;
    width: 100%;
    background-color: #FAFAFA;
}

.grid1 {
    height: 100%;
    padding-left: 5rem;
    padding-top: 0.5rem;
}

.solutionBody .item1 {
    height: 0.8rem;
    width: 4.7rem;
    background-color: #FFFFFF;
}

.item1-1 {
    border-top: 1px dashed #BDBDBD;
    height: 0.7rem;
    display: flex;
    align-items: center;
    padding-left: 0.3rem;
}

.item1-1:hover {
    background-color: #D8D8D8;
}

.item1-first {
    height: 0.8rem;
    display: flex;
    align-items: center;
    padding-left: 0.2rem;
    background-image: url("../img/7894555.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



.solutionBody .item2 {
    height: 15rem;
    width: 15rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6.5rem;
}


.solutionBody .item2 .item2-1 {
    height: 95%;
    width: 90%;
}

.solutionBody .item3 {
    background-color: #FFFFFF;
    height: 3rem;
    width: 4.7rem;
    margin-top: 6rem;
}

.item3-1 {
    display: flex;
    align-items: center;
    height: 1rem;
    width: 30%;
    color: #6E6E6E;
    font-size: 14px;
    letter-spacing: 0.01rem;
    position: absolute;
}


.item3-2 {
    display: flex;
    align-items: center;
    line-height: 0.3rem;
    height: 1rem;
    width: 70%;
    color: #6E6E6E;
    font-size: 0.23rem;
    letter-spacing: 0.01rem;
    position: absolute;
}

.page {
    position: absolute;
    top: 20rem;
    left: 46%;
}

/*-----底部导航----*/
.font {
    height: 5.8rem;
    width: 100%;
    background-color: #F2F2F2;
}
/* grid容器属性 */
.container {
    width: 50%;
    margin-left: 4.6rem;
    padding: 0.6rem 0 0 0;
    position: absolute;
}

.container1{
    display: flex;
    flex-direction: row;
    margin-top: 0.6rem
}
.topFont {
    color: #424242;
    font-size: 16px;
}

.bottomFont {
    color: #424242;
    font-size: 12px;
}


/* grid容器项目 */
.container .item {
    position: absolute;
}

.messageFlew {
    background-color: #2C467F;
    width: 12.5%;
    height: 98%;
    margin-left: 80%;
    padding-left: 1%;
}

.messageText1{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 0.4rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 1.2rem;
}

.messageText2{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 0.4rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 1.9rem;
}

.messageText3{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 0.4rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 2.6rem;
}

.messageText4{
    position: absolute;
    border-radius: 6px;
    border: 0;
    height: 1.3rem;
    width: 3.3rem;
    font-size: 0.2rem;
    margin-top: 3.3rem;
}
.messageButton{
    position: absolute;
    width: 2rem;
    height: 0.65rem;
    border-radius: 6px;
    border: 0;
    background-color: #F9A010;
    color: white;
    margin-top: 4.8rem;
    font-size: 0.2rem;
}


.tips{
    position: absolute;
    color: red;
    margin-left: 81%;
    margin-top:0.10rem;
    font-size: 15px
}

.floatButton{
    position: absolute;
    margin-left: 91.5%;
    margin-top:0.10rem;
}

/*字体无法选中*/
.noSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    text-align: start;
    color: #848484;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #848484;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #848484;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #848484;
}


.cursor {
    cursor: pointer;
}
